In [13]:
import pandas as pd

# Membuat DataFrame customers
customers = pd.DataFrame({'id': [1, 2, 3, 4], 
                  'name': ['Joe', 'Henry', 'Sam', 'Max']})

In [14]:
customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [15]:
# Membuat DataFrame orders
orders = pd.DataFrame({'id': [1, 2], 
               'customerID': [3, 1]})

In [16]:
orders

   id  customerID
0   1           3
1   2           1

In [19]:
id_order_list = list(orders["customerID"])

In [20]:
id_order_list

[3, 1]

In [23]:
customers[(customers["id"].isin(id_order_list))]

   id name
0   1  Joe
2   3  Sam

In [29]:
df_cust_not_order = customers[~(customers["id"].isin(id_order_list))].sort_values(by = "name", ascending = False).reset_index(drop = True)

In [30]:
df_cust_not_order

   id   name
0   4    Max
1   2  Henry

In [35]:
list_name = list(df_cust_not_order["name"])

In [36]:
list_name

['Max', 'Henry']

In [37]:
result = pd.DataFrame({
    "inactive customers": list_name})

In [38]:
result

  inactive customers
0                Max
1              Henry